div.course-card.beginner {
    background-color: orangered;
}

div.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 0%;
}