<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="addCourse()">Add Course</button>
<!-- 
<div class="demo">
   <div>Start Date: {{ startDate | date: 'MM/dd/yyy'}}</div>
   <div>{{ welcome | titlecase}}</div>
   <div>{{ price | currency: 'USD'}}</div>
   <div>{{ percent | percent}}</div>
</div> -->

<!-- {{ courses | json }} -->

<!-- <div *ngFor="let course of courses | slice:0:2;  -->

<div class="courses">
    <div *ngFor="let course of courses
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd;">
        <course-card 
        [course]="course"
        [noImageTemplate]="blankImage"
        [index]="i+1"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (courseSelected)="onCourseSelected($event)"
        >
        <img width="300" 
        alt="Angular Logo"
        class="course-img"
         [src]="course.iconUrl"
         *ngIf="course.iconUrl; else blankImage"/>
         <ng-template #blankImage >
            <p class="warn"> No images available</p>
            <img src="../assets/empty-image.png">
         </ng-template>
         <h5>Total Lessons: {{ course.lessonsCount }}</h5>
        </course-card>
    </div>
</div>


